<source>
  @type tail
  path {{ oracle_diag_dest }}/rdbms/*/*/trace/*.trc
  path_key filename
  pos_file /var/log/td-agent/oracle_trace.pos
  multiline_flush_interval 3
  tag trace.oracle
  <parse>
    @type multiline
    format_firstline /^\*\*\* \d{4}-\d{1,2}-\d{1,2}T\d{1,2}:\d{1,2}:\d{1,2}\.\d{6}\+\d{2}:\d{2}$/
    format1 /^\*\*\* (?<time>\d{4}-\d{1,2}-\d{1,2}T\d{1,2}:\d{1,2}:\d{1,2}\.\d{6})\+\d{2}:\d{2}\n(?<message>.*)/
    time_format %Y-%m-%dT%H:%M:%S.%N
  </parse>
</source>

<filter trace.oracle>
  @type record_transformer
  <record>
    host ${hostname}
  </record>
</filter>

<filter trace.oracle>
  @type parser
  key_name filename
  reserve_data true
  reserve_time true
  <parse>
    @type grok
    <grok>
      pattern .*/%{NOTSPACE:db_name}/%{NOTSPACE:db_unique_name}/trace/%{NOTSPACE:oracle_sid}_%{NOTSPACE:process_name}_%{NUMBER:pid}\.trc$
    </grok>
  </parse>
</filter>
