<source>
  @type tail
  path {{ auditd_path }}
  path_key filename
  pos_file /var/log/td-agent/auditd.pos
  tag auditd
  <parse>
    @type none
  </parse>
</source>

<filter auditd>
  @type parse_audit_log
  flatten true
</filter>

<filter auditd>
  @type parser
  key_name header_msg
  reserve_data true
  reserve_time true
  <parse>
    @type grok
    <grok>
      pattern audit\(%{NUMBER:header_epoch}:%{INT:header_recordnr}\)
    </grok>
  </parse>
</filter>

<filter auditd>
  @type record_transformer
  <record>
    host ${hostname}
  </record>
</filter>

<filter auditd>
  @type record_transformer
  renew_time_key header_epoch
</filter>

<match auditd>
  @type rewrite_tag_filter
  <rule>
    key header_type
    pattern /(.+)/
    tag $1.${tag}
  </rule>
</match>

<filter PROCTITLE.auditd>
  @type record_transformer
  enable_ruby
  <record>
    body_proctitle_decoded ${record["body_proctitle"].split.pack('H*')}
    message ${record["header_type"]}: ${record["body_proctitle"].split.pack('H*')}
  </record>
</filter>

<filter SYSCALL.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: syscall nr: ${record["body_syscall"]}, executable: ${record["body_exe"]}, command: ${record["body_comm"]}, success: ${record["body_success"]}, returncode: ${record["body_exit"]}
  </record>
</filter>

<filter CWD.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: ${record["body_cwd"]}
  </record>
</filter>

<filter PATH.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: ${record["body_name"]}
  </record>
</filter>

<filter AVC.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: command: ${record["body_comm"]}, name: ${record["body_name"]}, device: ${record["body_dev"]}, inode#: ${record["body_ino"]}, permissive: ${record["body_permissive"]}
  </record>
</filter>

<filter EXECVE.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: argument count: ${record["body_argc"]}, argument 0: ${record["body_a0"]}
  </record>
</filter>

<filter LOGIN.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: pid: ${record["body_pid"]}, ses: ${record["body_ses"]}, result ${record["body_res"]}
  </record>
</filter>

<filter {SERVICE_STOP,SERVICE_START}.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: unit: ${record["body_msg_unit"]}, command: ${record["body_msg_comm"]}, result ${record["body_msg_res"]}
  </record>
</filter>

<filter {USER_START,USER_END,CRED_DISP,CRED_REFR,USER_ACCT,CRED_ACQ}.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: executable: ${record["body_msg_exe"]}, account: ${record["body_msg_acct"]}, result ${record["body_msg_res"]}, operation: ${record["body_msg_op"]}, grantors: ${record["body_msg_grantors"]}
  </record>
</filter>

<filter USER_LOGOUT.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: executable: ${record["body_msg_exe"]}, result ${record["body_msg_res"]}, operation: ${record["body_msg_op"]}
  </record>
</filter>

<filter CRYPTO_KEY_USER.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}: executable: ${record["body_msg_exe"]}, kind: ${record["body_msg_kind"]}, result ${record["body_msg_res"]}, operation: ${record["body_msg_op"]}
  </record>
</filter>

<filter USER_CMD.auditd>
  @type record_transformer
  enable_ruby
  <record>
    body_msg_cmd_decoded ${record["body_msg_cmd"].split.pack('H*')}
    message ${record["header_type"]}: command: ${record["body_msg_cmd"].split.pack('H*')}, cwd: ${record["body_msg_cwd"]}, result ${record["body_msg_res"]}
  </record>
</filter>

<filter BPRM_FCAPS.auditd>
  @type record_transformer
  <record>
    message ${record["header_type"]}
  </record>
</filter>
