# messages
<source>
  @type tail
  path {{ messages_path }}
  path_key filename
  pos_file /var/log/td-agent/messages.pos
  tag messages.syslog  
  <parse>
    @type syslog
  </parse>
</source>

# secure
<source>
  @type tail
  path {{ secure_path }}
  path_key filename
  pos_file /var/log/td-agent/secure.pos
  tag secure.syslog  
  <parse>
    @type syslog
  </parse>
</source>

# maillog
<source>
  @type tail
  path {{ maillog_path }}
  path_key filename
  pos_file /var/log/td-agent/maillog.pos
  tag maillog.syslog  
  <parse>
    @type syslog
  </parse>
</source>

# cron
<source>
  @type tail
  path {{ cron_path }}
  path_key filename
  pos_file /var/log/td-agent/cron.pos
  tag cron.syslog  
  <parse>
    @type syslog
  </parse>
</source>
