# fluentd / td-agent configuration file

# includes: each different source type of log has got its own configuration
@include td-agent-*.conf

# match: this is where td-agent writes/"copies" to the final place: graylog
<match **>
  @type copy
  <store>
    @type gelf
    host {{ gelf_host }}
    port {{ gelf_port }}
    protocol tcp
    flush_interval 1s
    use_record_host true
  </store>
#  <store>
#    @type stdout
#  </store>
</match>
