<source>
  @type tail
  path {{ yum_log_path }}
  path_key filename
  pos_file /var/log/td-agent/yum.pos
  tag yum
  <parse>
    @type regexp
    expression /^(?<time>[^ ]* [^ ]* [^ ]*) (?<message>.+)/
    time_format %b %d %H:%M:%S
  </parse>
</source>

<filter yum>
  @type record_transformer
  <record>
    host ${hostname}
  </record>
</filter>
