[SERVICE]
  Flush 1
  Log_Level {{ log_level }}
  Daemon no
  Log_File /var/log/td-agent-bit/td-agent-bit.log
  HTTP_Server {{ http_server_enable }}
  HTTP_Listen {{ http_server_listen }}
  HTTP_Port {{ http_server_port }}
  Parsers_File /etc/td-agent-bit/parsers.conf
#
# the different things fluenbit collects are configured in conf files
# this way, you can disable collection very simply by adding a suffix to the filename, like:
# mv td-agent-bit-syslog.conf td-agent-bit-syslog.conf.disabled
#
@INCLUDE td-agent-bit-*.conf
[FILTER]
  Name record_modifier
  Match *
  Record host ${HOSTNAME}
